html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    height: 100%;
    font-family: "Roboto Light", Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    height: 100%;
    display: block;
}

#the-library {
    margin: 0 30px 0 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#logo-image {
    height: 5em;
    width: 5em;
}

h1 {
    font-size: xxx-large;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}

#library-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

#data-entry {
    font-size: 1em;
}

#title, #author {
    height: 1em;
    width: 20em;
}

#pages {
    height: 1em;
    width: 5em;
}

#read-status {
    height: 1.5em;
    width: 10em;
}



button:hover {
    background: darkorange;
}


#library-items {
    border-collapse: collapse;
    width: 75%;
}

td, th {
    border: 1px solid black;
}


#header {
    background: #f5f5f5;
}

.header-item {
    height: 2em;
    padding: 0 5px 0 5px;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

td {
    height: 2em;
    padding: 0 5px 0 5px;
    font-size: 15px;
    font-weight: normal;
}

.delete {
    height: 2em;
    width: 2em;
}

.table-item {
    vertical-align: center;
    text-align: center;
}

.table-item > button {
    border:none;
    background: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.left {
    text-align: left;
}

#add-new-book {
    border: 1px solid darkgray;
    font-size: 1em;
    background: orange;
    color: black;
    height: 25px;
    min-width: 115px;
    display: inline-block;
}


#id-header {
    width: 5%;
}
#title-header{
    width: 47%;
}
#author-header {
    width: 24%;
}
#pages-header {
    width: 8%;
}
#read-status-header {
    width: 8%;
}
#remove-header {
    width: 8%;
}